.paper {
margin-top: 8rem; /* Remplacez theme.spacing(8) */
display: flex;
flex-direction: column;
align-items: center;
}

.avatar {
margin: 1rem; /* Remplacez theme.spacing(1) */
background-color: #f50057 !important; /* Remplacez theme.palette.secondary.main */
}

.form {
width: 100%;
margin-top: 1rem; /* Remplacez theme.spacing(1) */
}

.submit {
margin: 1.5rem 0 1rem; /* Remplacez theme.spacing(3, 0, 2) */
}

.containerWrapper {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}